:root {
  --color:#008bff}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.card {
  height: 60vh;
  padding: 20px;
  box-shadow: 4px -4px 8px 3px rgba(0,0,0,.30196078431372547);
  background: hsla(0,0%,100%,.12941176470588237);
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  overflow: hidden
}

.card-body {
  z-index: 3;
  position: relative;
  max-height: 100%;
  overflow-x: hidden;
  padding: 8px
}


.card h1 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
}

.card-avatar {
  width: 40%;
  max-width: 300px;
  border-radius: 50%;
  border: 6px solid #008bff;
  border: 6px solid var(--color)
}

.card-title {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 700;
  background: rgba(41,39,39,.5607843137254902);
  padding: 8px;
  border-radius: 8px
}

.btn-action {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 8px 10px;
  background: rgba(41,39,39,.5607843137254902);
  margin-bottom: 12px;
  transition: 1s cubic-bezier(.075,.82,.165,1);
  border-radius: 10px;
  border: 1px solid #008bff;
  border: 1px solid var(--color)
}

.card .btn-action span {
  margin-left: 6px;
}

.wrapper-link {
  overflow-y: scroll;
  max-height: 40vh;
  margin: 20px 0;
  padding: 20px
}

.subtitle {
  font-size: 12px;
  font-weight: 500
}
